body {
    background: black;
    line-height: 1.42857143;
}

p {
    display: inline;
    color: #676565;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

h1 {
    text-transform: uppercase;
    color: #676565;
    font-size: 28px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    line-height: 1.1;
}

.line {
    text-decoration: line-through;
}

.paddings {
    margin-bottom: .3em;
}

.paddings-big {
    text-indent: 1em;
    margin: 0 0 10px;
}

.blue {
    color: #378db2;
    font-weight: 700;
    font-size: 15px;
}

.main_content {
    margin: auto;
}

.content {
    width: 747px;
    height: 423px;
    margin: auto;
    background: #feeed6;
    padding: 10px;
    margin-top: 15%;
    box-sizing: border-box;
}

.justify {
    text-align: justify;
}