* {
    box-sizing: border-box;
}

body {
    background: #000;
    line-height: 1.42857143;
    color: #676565;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-transform: uppercase;
    color: #676565;
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.line {
    text-decoration: line-through;
}

.text {
    margin-bottom: 0.3em;
    font-size: 16px;
}

.text-big {
    text-indent: 0;
    margin-bottom: 10px;
    font-size: 15px;
}

.blue {
    color: #378db2;
    font-weight: 700;
    font-size: 16px;
}

.main_content {
    margin: auto;
    width: 100%;
    max-width: 747px;
    padding: 10px;
}

.content {
    background: #feeed6;
    box-sizing: border-box;
    padding: 10px;
    margin: 15% auto 0;
}

.justify {
    text-align: justify;
}