p {
    display: inline;
    color: #676565;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    margin: 0 0 10px;
}

h1 {
    text-transform: uppercase;
    color: #676565;
    font-size: 2em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

#block {
    text-align: center;
}

#line {
    text-decoration: line-through;
}

.paddings {
    margin: 0 0 10px;
}

.paddingsForBigText{
    text-indent: 1em;
    margin: 0 0 10px;
}

.blue {
    color: #378db2;
    font-weight: bold;
}

.main_content {
    margin: auto;
}

.content {
    width: 747px;
    height: 423px;
    margin: auto;
    background: #feeed6;
    padding: 10px 15px 15px 15px;
    margin-top: 15%;
}

body {
    background: black;
    line-height: 1.42857143;
}

.justify {
    text-align: justify;
}