.header {
  text-align: center;
}

.remove-btn-main {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 1px solid #000;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 0.3rem;

  .images {
    height: 30px;
    width: 30px;
  }
}

.myForm {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myFilter {
  width: 40rem;
}

.table {
  .last-col {
    width: 17rem;
  }
}

.btn-margin {
  margin: 0 0.3rem;
}

.error-border {
  border: 1px solid #ff0000;
}