.card {
    margin: 3rem auto;
    align-items: center;
    width: max-content;
}

.form-control {
    border: 1px solid #0085f4;
    background: #eaeaea;
    color: #000;
}

.form-control::placeholder {
    color: #000;
}

.items {
    padding: 1rem 0;
    border-bottom: 1px solid #000;
}

.buttons {
    float: right;
}

.edit {
    width: 60%;
    display: inline;
}

.error-msg {
    color: #bf0000;
}

#add {
    margin: 2rem;
}