* {
    box-sizing: border-box;
}

.card {
    margin: 0 auto;
    align-items: center;
    width: 60%;
}

.header {
    text-align: center;
}

.form-control {
    border: 1px solid #ff0000ff;
    background: #eaeaea;
    color: #000;
}

.form-control::placeholder {
    color: #000;
}

.items {
    padding: 1rem 0;
    border-bottom: 1px solid #000;
}

.buttons {
    float: right;
}

.edit {
    width: 60%;
    display: inline;
}