body {
    background: black;
    box-sizing: border-box;
    line-height: 1.42857143;
}

.content {
    width: 742px;
    height: 450px;
    margin: auto;
    background: #feeed6;
    padding: 15px 15px 15px 25px;
    display:block;
}

.header {
    color: #676565;
    font-size: 28px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 4px;
    margin-top: 0;
    line-height: 1.1;
}

.header-block {
    background: #FFFFFFFF;
    width: 742px;
    padding: 20px 20px 5px;
    margin: 15% auto 0;
}

.text {
    color: #676565;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}

.text-top {
    color: #676565;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

.text-bottom {
    color: #676565;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

.input {
    background: #FFFFFFFF;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
}

.comment {
    background: #FFFFFFFF;
    width: 100%;
    height: 110px;
    padding: 6px 12px;
    resize: vertical;
}

.send-button {
    display: inline-block;
    padding: 6px 12px;
    text-align:center;
    float: right !important;
    color: #FFFFFFFF;
    background: #378db2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: inherit;
    font-weight: 700;
    font-size: 14px;
}

.send-button:hover{
    background: #20799f;
}